{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Portfolio | トップページ</title>
{% endblock %}

{% block contents %}
<h3>グラフィックデザイン、Webサイトデザイン<br>できます</h3>
<p>お客様のご希望に併せてデザインいたします</p>
<h4>WorkTime</h4>
<p>本業との両立のため、基本的に作業時間は、２１時以降からです</p>
<img>
<h4>Meeting</h4>
<p>平日は本業があるため、基本的に、土曜、日曜の対応となります<br>２１時以降であれば、平日でも可能です<br>会議システムはZoom、チャットツールはchatworkが使用できます</p>
<img>
<h4>WorkScale</h4>
<p>グラフィックデザインなら、パンフレット、バナーデザイン　など<br>Webデザインなら、LP、企業サイト　など対応可能です</p>
<img>
<h4>Tool、Script</h4>
<p>使用可能デザインツール<br>・illustrator　・photoshop<br>言語<br>・HTML　・CSS　・Javascript<br>・Python（勉強中）<br>・Django（勉強中）</p>
<img>
{% endblock %}